   
        .imgg{
          padding-left: -10px !important;
          position: relative;
          top: -90px;
          /* right: 20px; */
          left: -80px;
          z-index: -1;
        }
        .linkk a{
            text-decoration: none;
            color: white;
          }
          #set{
            min-height: 250px;
          }
          .main ul,a{ 
            margin: 0px 10px;
          }
          .main ul{
            margin-left: 245px;
          }
          input,textarea,button{
            width: 35vw;
            padding: 5px;
            margin: 5px 0px;
          }
          .linkk a{
            text-decoration: none;
            color: white;
          }
            body{
                height: 3000px;
                overflow-x: hidden;
            }
            .bg-image{
                width: 100vw;
                height: 125vh;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                filter: brightness(0.6);
            }
            .navv{
                background-color: transparent !important;
            }
            .navbar-default{
            transition:500ms ease;
            background-color:transparent;
            }
            .navbar-scrolled{
            background-color:rgb(134, 191, 245) !important;
            }
            .quote{
                padding-top: 30px !important;
            }
            .thought{
                color: rgb(255, 255, 255);
            }
            .quote{
                color: white;
            }
            svg:hover circle {
                fill: black;
            }
            .navbar-nav {
                margin-left: auto;  
            }
            .navbar-nav li{
                padding: 0px 10px;
            }